/* #region Base / Global */
.hide {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #434455;
}
body:has(.backdrop.is-open) {
  overflow: hidden;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
address {
  font-style: normal;
  margin-left: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  box-sizing: content-box;
}
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/* #endregion */

/* #region Common*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .section-title {
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {
  .section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.section-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media only screen and (min-width: 1158px) {
  .section-text {
    font-weight: 400;
  }
}
/*#Mobile*/

.container {
  max-width: 320px;
  /* min-width: 375px; */
  padding: 0 16px;
}
/*#Tablet*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
/*#Desktop*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion */

/* #region Header section*/

@media only screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }
}
.header-container {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 1158px) {
  .header-container {
  }
}

.nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 16px 0;
  margin-right: auto;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 76px;
    padding: 24px 0;
  }
}

.header-logo-accent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  color: #2e2f42;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.menu-items-link {
  display: block;
  padding: 24px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-items-link:hover,
.menu-items-link:focus,
.menu-items-link.current {
  color: #404bbf;
}

.menu-items-link.current {
  position: relative;
}

.menu-items-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  background-color: #404bbf;
}
.contacts {
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .contacts {
    font-style: normal;
    margin-left: auto;
  }
}
.header-contacts {
}
@media only screen and (min-width: 768px) {
  .header-contacts {
    flex-direction: column;
    gap: none;
  }
}
@media only screen and (min-width: 1158px) {
  .header-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.header-contacts-link {
  display: block;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

/* #endregion */

/* #region Hero section*/
.hero {
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}
.hero-container {
  max-width: 1440px;
  padding: 72px 52px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/dark-bg_mob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/dark-bg_mob@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .hero-container {
    padding: 112px 136px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/dark-bg_tab.jpg);
  }
  @media (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/dark-bg_tab@2x.jpg);
    }
  }
}
@media only screen and (min-width: 1158px) {
  .hero-container {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/dark-bg_des.jpg);
  }
  @media (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/dark-bg_des@2x.jpg);
    }
  }
}

.hero-title {
  max-width: 496px;
  font-size: 36px;
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn.btn {
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region Principles section*/

.principles {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .principles {
    padding: 120px 0;
  }
}
.principles-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .principles-list {
    gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .principles-list {
    flex-wrap: nowrap;
  }
}
.principles-item {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .principles-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .principles-item {
    width: calc(100% - (24px * 3) / 4);
  }
}
.svg-icons {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
@media only screen and (max-width: 1157px) {
  .svg-icons {
    display: none;
  }
}
.svg-icons svg {
  display: block;
}

.principles-title {
  text-align: center;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .principles-title {
    text-align: start;
  }
}
.principles-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Team section*/
.team {
  background-color: #f4f4fd;
  text-align: center;
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.team-list-item {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .team-list-item {
    width: calcЄ((100% - 72px) / 4);
  }
}

.icon-container {
  padding: 32px 0;
}
.team-list-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-social-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-links.team-social-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #f4f4fd;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-links:hover,
.team-social-links:focus {
  background-color: #404bbf;
}
.social-links-svg {
  fill: currentColor;
}

.svg-social svg {
  display: block;
}
.team-list-title {
  margin-bottom: 8px;
}
.team-list-text {
  margin-bottom: 8px;
}
/* #endregion */
/* #endregion */

/* #region Portfolio section*/
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}
.portfolio-list-item {
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list-item:hover,
  .portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: start;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay {
  transform: translateY(0%);
}
.portfolio-list-item-icon {
  width: calc(100% - (24px * 2) / 3);
}
.portfolio-container {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}
.portfolio-list-title {
  margin-bottom: 8px;
}

/* #endregion */

/* #region Footer section*/

.footer {
  background-color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    gap: 72px 24px;
    padding: 0 108px;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    align-items: flex-start;
    gap: 0;
    padding: 0 15px;
  }
}
.footer-logo-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer-logo-container {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo-container {
    margin-right: 120px;
  }
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #4d5ae5;
}
.footer-logo-accent {
  color: #f4f4fd;
}
.footer-text {
  width: 264px;
  text-align: start;
}
.footer-social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer-social-container {
    align-items: flex-start;
  }
}
.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.social-list-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  background-color: #4d5ae5;
  border-radius: 50%;
  flex-shrink: 0;
}
.social-list-text {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}
.footer-social-links {
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #f4f4fd;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links:hover,
.footer-social-links:focus {
  background-color: #31d0aa;
}
.social-links-svg {
  fill: currentColor;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (min-width: 768px) {
  .footer-subscribe-form {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-subscribe-form {
    align-items: flex-start;
    margin-left: auto;
  }
}
.subscribe-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}
.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.container-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  color: #f4f4fd;
  background-color: transparent;
  outline: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}
.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-input:focus {
  border-color: #404bbf;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}
.btn-icon {
  fill: currentColor;
  margin-left: 16px;
}

/* #endregion */

/* #region Modal Window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 16px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transform: translateX(-50%) translateY(-50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

.backdrop:not(.is-open) .modal {
  transform: translateX(-50%) translateY(-100%);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: transparent;
  background-color: #e7e9fc;
  stroke-width: 1px;
  color: #2e2f42;

  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  color: #fff;
}

.modal-caption {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding: 11px 38px;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-icon {
  width: 18px;
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  pointer-events: none;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}
.modal-form-comment {
  margin-bottom: 16px;
}
.modal-form-message {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  border-color: #4d5ae5;
}
.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

/* #region Modal Checkbox*/
.form-agreement {
  height: 16px;
  margin-bottom: 24px;
}
.agreement-wrapper {
  display: flex;
  align-items: center;

  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 8px;
}
.agreement-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .agreement-wrapper > .agreement-checkbox {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
.agreement-checkbox-icon {
  fill: inherit;
}
.agreement-checkbox-text {
}
.accent-text {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
/* #endregion */
/* #endregion */

/* #region Mobile menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 72px 16px 40px;
}
.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
}
@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu .mobile-menu-btn {
  position: absolute;
  top: 24px;
  left: 274px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.mobile-menu-btn-icon {
  fill: #2f2f37;
}
@media not( hover: hover) {
  .mobile-menu-btn:active .mobile-menu-btn-icon {
    fill: #4d5ae5;
  }
}

.mobile-menu-nav {
  margin-bottom: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-nav .mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-nav .mobile-menu-item:first-child .mobile-menu-link {
  color: #4d5ae5;
}

.mobile-menu-contacts {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 48px;
}
.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contacts .mobile-menu-item:first-child .mobile-menu-link {
  color: #4d5ae5;
}
.mobil-social {
  gap: 40px;
}

/* #endregion */
